.post-feed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 4vw;
}

.post-card {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-width: 350px;
    overflow: hidden;
    margin: 0 20px 40px;
    padding-bottom: 0px;

    a {
        text-decoration: none;
    }

    &__image {
        width: auto;
        height: 200px;
        background: #fff no-repeat center center;
        background-size: cover;

        &__link {
            position: relative;
            display: block;
            overflow: hidden;
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__link {
            position: relative;
            display: block;
            color: var(--darkgrey);

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__title {
        margin-top: 0;
    }

    &__header {
        margin-top: 3rem;
    }

    &__excerpt {
        font-size: 0.9em;
    }

    &__tags {
        display: block;
        margin-bottom: 4px;
        color: #738a94;
        font-size: 1.2rem;
        line-height: 1.15em;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    &__meta {
        display: flex;
        flex-direction: row;
        padding-bottom: 3rem;

        &__author {
            &__name {
                font-size: 1.3rem;
                font-weight: 500;
                letter-spacing: 0.5px;
                text-transform: uppercase;

                a {
                    text-decoration: underline;
                }
            }

            &__image {
                width: 25px;
                height: 25px;
                margin-right: 5px;
                border-radius: 100%;

                object-fit: cover;
            }
        }
    }
}

.home-template .site-header:after {
    display: none;
}


/* Adjust some margins for smaller screens */
@media (max-width: 650px) {
    .post-feed {
        padding-top: 5vw;
    }
    .post-card {
        margin: 0 20px 10vw;
        max-width: 100%;
    }
}
